@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body {
    background-image: linear-gradient(#101010, #101010);
}



.container__perfil{
    color: whitesmoke;
    margin-top: 110px;
    margin-left: 700px;
    font-family: 'Cabin', sans-serif;   
}

.imag{
    height: 150px;
    margin-left: -180px;
    margin-top: -110px;
}

.imag{
    border-radius: 5px;
}

.container__perfil i{
    color: #3AA35C;
}

.container__perfil h3{
    color: #D2D6DC;
    font-family: 'Cabin', sans-serif; 
}

.container__perfil h2{
    color: #D2D6DC;
    margin-top: -83px;
    margin-left: 20px;
}

.container__redes{
    text-align: center;
    border-radius: 10px;
    margin: 579px;
    color: whitesmoke;
    margin-top: 50px;
    margin-left: 515px;
    font-family: 'Cabin', sans-serif; 
}

.discord {
    line-height: 70px;
    color: whitesmoke;
    text-align: center;
    margin-top: -500px;
    margin-left: -550px;
}

.discord h1{
    font-family: 'Cabin', sans-serif; 
    margin-left: 250px;
    margin-top: -85px;
    font-size: 2.5rem;
}

.discord i{
    line-height: 80px;
    font-size: 60px;
    margin-top: 3px;
}

.instagram {
    color: whitesmoke;
    text-align: center;
    margin-top: -100px;
    margin-left: 400px;
}

.instagram i{
    font-size: 60px;
    margin-left: -250px;
    margin-top: 20px;
}

.instagram h1{
    font-family: 'Cabin', sans-serif; 
    margin-top: -55px;
    font-size: 36px;
}

.youtube {
    color: whitesmoke;
    margin-top: 100px;
    margin-left: 550px;
}

.youtube i{
    font-size: 65px;
}

.youtube h1{
    font-family: 'Cabin', sans-serif;
    font-size: 35px;
    margin-left: 100px;
    margin-top: -50px;
}

.web {
    color: whitesmoke;
    margin-top: -83px;
    margin-left: 913px;
}

.web i{
    font-size: 58px;
}

.web h1{
    font-family: 'Cabin', sans-serif;
    margin-left: 90px;
    margin-top: -50px;
}

.twitter{
    color: whitesmoke;
    margin-left: 550px;
    margin-top: 100px;
}

.twitter i{
    font-size: 58px;
}

.twitter h1{
    font-family: 'Cabin', sans-serif;
    margin-left: 105px;
    margin-top: -50px;
    font-size: 36px;
}

.roblox{
    color: whitesmoke;
    margin-left: 920px;
    margin-top: -80px;
}

.roblox img{
    height: 60px;
}

.roblox h1{
    font-family: 'Cabin', sans-serif;
    margin-left: 100px;
    margin-top: -50px;
    font-size: 36px;
}

.container__info{
    color: whitesmoke;
    margin-top: -630px;
    margin-left: 700px;
}

.container__info h2{
    font-family: 'Cabin', sans-serif;
    margin-left: 30px;
    margin-top: -20px;
    font-size: 1rem;
}

.container__info h3{
    font-family: 'Cabin', sans-serif;
    margin-left: -0px;
    margin-top: -10px;
    font-size: 1rem;
}

.container__info i{
    color: #3E3E3E;
}