@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body {
    background-image: linear-gradient(#101010, #101010);
height: 90%;
   width: 90%;
}


.container__perfil{
    color: whitesmoke;
    margin-top: 100px;
    margin-left: 380px;
    width: 950px;
    height: 220px;
    border-radius: 20px;
    border: 1px solid #1E1E1E;
    background: #1E1E1E;
    box-shadow: 0px 0px 13px #1e1e1e;
    font-family: 'Cabin', sans-serif;   
}

.container__perfil h1{
    margin-left: 215px;
    margin-top: -165px;
}

.container__perfil h2{
    margin-left: 50px;
}

.perfil h2{
    color: whitesmoke;
    font-family: 'Cabin', sans-serif;
    margin-top: -137px;
    margin-left: 620px;
}


.imag{
    height: 160px;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 30px;
}

.container__perfil i{
    color: #3AA35C;
    margin-left: 215px;
}

.container__perfil h3{
    color: #D2D6DC;
    font-family: 'Cabin', sans-serif; 
    margin-left: 215px;
    margin-top: 50px;
}

.container__perfil h2{
    color: #D2D6DC;
    margin-top: -83px;
    margin-left: 340px;
}

.container__redes{
    border-radius: 10px;
    margin: 579px;
    color: whitesmoke;
    margin-top: 130px;
    margin-left: 380px;
    font-family: 'Cabin', sans-serif;
    width: 950px;
    height: 170px;
    border-radius: 20px;
    border: 1px solid #1E1E1E;
    background: #1E1E1E;
    box-shadow: 0px 0px 13px #1e1e1e;
}

.container__redes h1{
    margin-left: 330px;
}

.container__redes h2{
    margin-left: 239px;
}


.container__follow{
    border-radius: 10px;
    margin: 579px;
    color: whitesmoke;
    margin-top: 130px;
    margin-left: 380px;
    width: 950px;
    height: 170px;
    border-radius: 20px;
    border: 1px solid #1E1E1E;
    background: #1E1E1E;
    box-shadow: 0px 0px 13px #1e1e1e;
    font-family: 'Cabin', sans-serif;
}

.container__follow h1{
    margin-left: 380px;
    margin-top: 24px;
}

.container__follow h2{
    margin-left: 360px;

}

.discord {
    border-radius: 20px;
    line-height: 70px;
    color: whitesmoke;
    text-align: center;
    margin-top: -500px;
    margin-left: 380px;
    width: 465px;
    height: 170px;
    border-radius: 20px;
    border: 1px solid #1E1E1E;
    background: #1E1E1E;
    box-shadow: 0px 0px 13px #1e1e1e;
}

.discord h1{
    font-family: 'Cabin', sans-serif; 
    margin-left: 10px;
    margin-top: -90px;
    font-size: 2.5rem;
}

.discord a{
    text-decoration: none;
    color: whitesmoke;
}

.discord i{
    line-height: 80px;
    font-size: 60px;
    margin-top: 40px;
    margin-left: -290px;
}

.instagram {
    color: whitesmoke;
    text-align: center;
    margin-top: -170px;
    margin-left: 870px;
    width: 465px;
    height: 170px;
    border-radius: 20px;
    border: 1px solid #1E1E1E;
    background: #1E1E1E;
    box-shadow: 0px 0px 13px #1e1e1e;
}

.instagram i{
    font-size: 60px;
    margin-left: -280px;
    margin-top: 50px;
}

.instagram h1{
    font-family: 'Cabin', sans-serif; 
    margin-top: -50px;
    font-size: 36px;
}

.instagram a{
    text-decoration: none;
    color: whitesmoke;
}

.youtube {
    color: whitesmoke;
    width: 465px;
    height: 170px;
    border-radius: 20px;
    border: 1px solid #1E1E1E;
    background: #1E1E1E;
    box-shadow: 0px 0px 13px #1e1e1e;
}

.youtube {
    margin-top:  30px;
    margin-left: 380px;
}

.youtube i{
    font-size: 65px;
    margin-top: 50px;
    margin-left: 60px;
}

.youtube h1{
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    font-size: 40px;
    margin-left: 170px;
    margin-top: -58px;
}

.youtube a{
    text-decoration: none;
    color: whitesmoke;
}


.web {
    color: whitesmoke;
    margin-top:  -170px;
    margin-left: 870px;
    width: 465px;
    height: 170px;
    border-radius: 20px;
    border: 1px solid #1E1E1E;
    background: #1E1E1E;
    box-shadow: 0px 0px 13px #1e1e1e;
}

.web i{
    font-size: 58px;
    margin-top: 50px;
    margin-left: 60px;
}

.web h1{
    font-family: 'Cabin', sans-serif;
    margin-left: 150px;
    margin-top: -50px;
}

.web a{
    text-decoration: none;
    color: whitesmoke;
}

.twitter{
    color: whitesmoke;
    width: 465px;
    height: 170px;
    margin-top: 30px;
    margin-left: 380px;
    border-radius: 20px;
    border: 1px solid #1E1E1E;
    background: #1E1E1E;
    box-shadow: 0px 0px 13px #1e1e1e;

}

.twitter i{
    font-size: 58px;
    margin-top: 60px;
    margin-left: 100px;
}

.twitter h1{
    font-family: 'Cabin', sans-serif;
    margin-left: 210px;
    margin-top: -50px;
    font-size: 36px;
}

.twitter a{
    text-decoration: none;
    color: whitesmoke;
}

.roblox{
    margin-left: 15px;
}

.roblox{
    color: whitesmoke;
    margin-left: 870px;
    margin-top: -172px;
    width: 465px;
    height: 170px;
    border-radius: 20px;
    border: 1px solid #1E1E1E;
    background: #1E1E1E;
    box-shadow: 0px 0px 13px #1e1e1e;
}

.roblox img{
    height: 60px;
    margin-top: 50px;
    margin-left: 60px;
}

.roblox h1{
    font-family: 'Cabin', sans-serif;
    margin-left: 170px;
    margin-top: -50px;
    font-size: 36px;
}

.roblox a{
    text-decoration: none;
    color: whitesmoke;
}

.location{
    color: whitesmoke;
    margin-top: -430px;
    margin-left: 570px;
    width: 300px;
    height: 70px;
    border-radius: 20px;
    border: 1px solid #1E1E1E;
    background: #1E1E1E;
    box-shadow: 0px 0px 13px #1e1e1e;
}

.location h2{
    font-family: 'Cabin', sans-serif;
    margin-left: 100px;
    margin-top: -25px;
}

.location h3{
    font-family: 'Cabin', sans-serif;
    margin-left: 60px;
    margin-top: -15px;
}

.location i{
    color: whitesmoke;
    margin-top: 10px;
    margin-left: 70px;
}

.gender {
    color: whitesmoke;
    margin-top: -70px;
    margin-left: 900px;
    width: 300px;
    height: 70px;
    border-radius: 20px;
    border: 1px solid #1E1E1E;
    background: #1E1E1E;
    box-shadow: 0px 0px 13px #1e1e1e;
}

.gender h2{
    font-family: 'Cabin', sans-serif;
    margin-left: 110px;
    margin-top: -25px;
}

.gender i{
    color: whitesmoke;
    font-size: 23px;
    margin-left: 85px;
    margin-top: 5px;
}

.gender h3{
    font-family: 'Cabin', sans-serif;
    margin-left: 130px;
    margin-top: -10px;
}

.cumplea単os{
    color: whitesmoke;
    width: 320px;
    height: 90px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 10px;
    border: 1px solid #1E1E1E;
    background: #1E1E1E;
    box-shadow: 0px 0px 13px #1e1e1e;
}

.cumplea単os h2{
    font-family: 'Cabin', sans-serif;
    margin-left: 120px;
    margin-top: -25px;
}

.cumplea単os i{
    color: whitesmoke;
    font-size: 20px;
    margin-left: 85px;
    margin-top: 13px;
}

.cumplea単os h3{
    font-family: 'Cabin', sans-serif;
    margin-left: 95px;
    margin-top: -10px;
}

.email{
    color: whitesmoke;
    margin-top: -190px;
    margin-left: 570px;
    width: 300px;
    height: 90px;
    border-radius: 20px;
    border: 1px solid #1E1E1E;
    background: #1E1E1E;
    box-shadow: 0px 0px 13px #1e1e1e;
}

.email h2{
    font-family: 'Cabin', sans-serif;
    margin-left: 130px;
    margin-top: -27px;
}

.email h3{
    font-family: 'Cabin', sans-serif;
    margin-left: 35px;
}

.email i{
    color: whitesmoke;
    font-size: 23px;
    margin-left: 100px;
    margin-top: 10px;
}

.ocupacion{
    color: whitesmoke;
    margin-top: -90px;
    margin-left: 900px;
    width: 300px;
    height: 90px;
    border-radius: 20px;
    border: 1px solid #1E1E1E;
    background: #1E1E1E;
    box-shadow: 0px 0px 13px #1e1e1e;
}

.ocupacion h2{
    font-family: 'Cabin', sans-serif;
    margin-left: 120px;
    margin-top: -24px;
}

.ocupacion h3{
    font-family: 'Cabin', sans-serif;
    margin-left: 100px;
}

.ocupacion i{
    color: whitesmoke;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 90px;
}

.container__footer{
    font-family: 'Cabin', sans-serif;
    max-width: 1200px;
    margin-left: 260px;
    padding-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}


.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}


/*SCROLL*/

body::-webkit-scrollbar{
    width: 10px;
    background: black;
}

body::-webkit-scrollbar-thumb{
    background: #212121;
    border-radius: 10px;
}
